body {
    margin: 0px;
    background-color: #191a1c;
    font-family: Lato,Helvetica;
}
@media screen and (min-width: 800px) {
    .container {
      margin: 1em 2em;
    }
  }
.conteudo {
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
    flex-direction: column;
}


/* Cabeçalho */

.cabeçalho-base {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #23252b;
    height: 60px;
    width: 100%;
  }
.cabeçalho-logo {
    display: flex;
    align-items: center;
    justify-content: end;
    background-color: #23252b;
    height: 60px;
    width: 15%;
  }
.icone-crunch{
    display: flex;
    align-items: center;
    justify-content: end;
    fill: #f47521;
    background-color: #23252b;
    height: 65px;
    width: 45%;
    padding: 5px;
    margin-right: 20px;
    transition: all 0.3s;
}
.icone-crunch:hover{
    fill: white;
}
.cabeçalho-right {
    display: flex;
    background-color: red;
    height: 60px;
    width: 15%;
  }
.cabeçalho-left {
    display: flex;
    justify-content: left;
    flex-direction: row;
    background-color: #23252b;
    height: 60px;
    width: 60%;
  }

.opçoes-left{
    padding: 15px;
    display: flex;
    color: rgb(226, 223, 223);
    align-items: center;
    justify-content: center;
    transition: all;
}
.opçoes-left:hover {
    background-color: #141519;
    color: white;
}

/* Centro */

.Centro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    background-color: #23252b;
    height: 700px;
    width: 100%;
}
.centro-img {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: orange;
    height: 600px;
    width: 100%;

}
.centro-propaganda {
    display: flex;
    justify-content: center;
    background-color: white;
    height: 400px;
    width: 40%;

}
.centro-options{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #23252b;
    transition: all 0.5s;
    height: 100px;
    width: 60%;
}

.centro-titulo{
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    background-color: #141519;
    height: 60px;
    width: 45%;
    border: red 2px;
}

.Seta-direita {
    height: 40px;
    width: 2%;
}
.Seta-esquerda{
    height: 40px;
    width: 2%;
    transform: rotate(180deg);
}
.Seta-baixo{
    height: 40px;
    width: 20%;
    fill: white;
}

/* Parte Inferior*/
.Bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #23252b;
    height: 100px;
    width: 100%;
}
.bottom-msg {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #141519;
    height: 50px;
    width: 60%;
}