body {
    margin: 0px;
    background-color: #040404;
    font-family: Lato,Helvetica;
}
.conteudo {
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
    flex-direction: row;
    width: 100%;
    max-width: 100%;

}


/* Cabeçalho */

.cabeçalho-base {
    display: flex;
    align-items: center;
    flex-wrap:wrap;
    justify-content: center;
    background-color: #23252b;
    height: 60px;
    width: 100%;
  }
.cabeçalho-logo {
    display: flex;
    align-items: center;
    justify-content: end;
    background-color: #23252b;
    height: 60px;
    width: 15%;
  }
.icone-crunch{
    display: flex;
    align-items: center;
    justify-content: end;
    fill: #f47521;
    background-color: #23252b;
    height: 70px;
    width: 45%;
    margin-right: 20px;
    transition: all 0.3s;
}
.icone-crunch:hover{
    fill: white;
}
.cabeçalho-right {
    height: 60px;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
    background-color: #23252b;
    height: 60px;
    width: 20%;
  }
.opçoes-right{
    font-size: 11px;
    padding: 16px;
    display: flex;
    color: rgb(226, 223, 223);
    transition: all;
    align-items: center;
    justify-content: left;
    flex-wrap:wrap;
    flex-direction: row;
    transition: all 0,1s;
    object-fit: contain;
}
.opçoes-right:hover{
    background-color: #141519;
}
#teste-gratis {
    color: #fab818;
}
#texto-premium {
    color:rgb(226, 223, 223);
}
#texto-premium:hover{
    color:white;
}
.Premium-icone{
    width: 25px;
    fill: #fab818;
}
.Icones-right{
    fill:rgb(226, 223, 223);
    display: flex;
    width: 25px;
    object-fit: contain;
}

.cabeçalho-left {
    display: flex;
    justify-content: left;
    flex-direction: row;
    background-color: #23252b;
    height: 60px;
    width: 55%;
  }

.opçoes-left{
    padding: 13px;
    display: flex;
    color: rgb(226, 223, 223);
    align-items: center;
    justify-content: center;
    transition: all 0.1s;
}
.opçoes-left:hover {
    background-color: #141519;
    color: white;
}

/* Centro */

.Centro {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: start;
    flex-wrap:wrap;
    background-color: #040404;
    height: 700px;
    width: 100%;
}
.centro-img {
    display: flex;
    flex-wrap:nowrap;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    background-color: orange;
    height: 600px;
    width: 100%;

}
.centro-propaganda {
    display: flex;
    padding-left: 125px;
    padding-right: 125px;
    justify-content: center;
    object-fit: contain;
    background-color:orange;
    height: 535px;
    width: 40%;

}
.centro-options{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #040404;
    transition: all 0.5s;
    height: 75px;
    width: 55%;
}

.centro-titulo{
    display: flex;
    align-items: center;
    margin: 5px;
    padding: 2px;
    justify-content: space-around;
    color: white;
    background-color: #23252b;
    transition: all 0.2s;
    height: 50px;
    width: 50%;
}
.centro-titulo:hover{
    background-color:  #6d7079f0;
}

.Seta-direita {
    height: 40px;
    width: 2%;
    transition: all 0.2s;
}
.Seta-direita:hover {
    background-color: #23252b;
}
.Seta-esquerda{
    height: 40px;
    width: 2%;
    transform: rotate(180deg);
    transition: all 0.2s;
}
.Seta-esquerda:hover {
    background-color: #23252b;
}
.Seta-baixo{
    height: 45px;
    width: 20%;
    fill: rgb(226, 223, 223);
    transition: all;
}
.Seta-baixo:hover{
    fill: White;
}
/* Parte Inferior*/
.Bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #040404;
    height: 100px;
    width: 100%;
}
.bottom-msg {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color:#23252b;
    height: 50px;
    width: 55%;
}
.icone-exclamação{
    height: 50px;
    width: 2%;
    padding: 5px;
    fill:white;
}