body {
    margin: 0px;
    background-color: #040404;
    font-family: Lato,Helvetica;
}
.conteudo {
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
    flex-direction: row;
    width: 100%;
    max-width: 1920px;

}

/* Proporção */

@media(min-width:1135px){
    .Propaganda{ 
        max-height: 85%;
    }
    .centro-propaganda{
        max-height: 85%;
    }
}

@media(min-width:750px) and (max-width: 1135px){
    .Propaganda{ 
        max-height: 85%;
    }
    .centro-propaganda{
        max-height: 85%;
    }
    .centro-titulo {
        max-height: 5px;
    }
    #centro-options-text {
        visibility: hidden;
    }
    .opçoes-left{
        max-width: 70%;
    }
}
@media(min-width:450px) and (max-width: 750px){ 
    .Propaganda{ 
        max-height: 65%;
    }
    .centro-propaganda{
        max-height: 65%;
    }
    .centro-titulo {
        max-height: 5px;
    }
    #centro-options-text {
        visibility: hidden;
    }
    .opçoes-left{
        max-width: 30%;
    }
    #telaCadastro{
        min-width: 50%;

    }
}

@media(max-width: 450px){
    .Propaganda{ 
        max-height: 80%;
        min-width: 100%;
    }
  .centro-propaganda{
        max-height: 100%;
    }
    .centro-img {
        max-height: 490px;
    }
    .opçoes-left{
        max-width: 0%;
        visibility: hidden;
    }
    .cabeçalho-left{
        max-width: 30%;
    }
    .centro-titulo {
        max-height: 5px;
        max-width: 30%;
    }
    #centro-options-text {
        display: none;
    }
    #telaBuscar {
        max-width: 10%;
        max-height: 0%;
        margin-top:18%;
        margin-right:10%;
    }
    #telaCadastro{
        min-width: 70%;

    }
    
}

/* Telas com display: none */

#telaBuscar {
    display: none;
    position: absolute;
    width: 13%;
    height: 60px;
    align-items:center;
    margin-left: 44%;
    justify-content: center;
    color: white;
    background-color: #23252b;
}
#bt-buscar{
    color: white;
    background-color:#23252b ;
    border-color: aliceblue;
    border-radius: 15px;
    margin-right: 5%;
}
#telaBuscarInput{
    color: white;
    background-color:#23252b ;
    border-color: aliceblue;
    border-radius: 15px;
}

#telaLista{
    display: none;
    position: absolute;
    flex-direction:column;
    color: white;
    width: 60%;
    height: 700px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #23252b;
    border-radius: 15px;
}
.modal-telaLista{
    display: flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    color: white;
    width: 100%;
    height: 600px;
    background-color: #23252b;
    border-radius: 15px;
}
.result{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    color: white;
    width: 80%;
    height: 600px;
    background-color: #23252b;
    border: 2px solid white;
    border-radius: 15px;
}
#btfechar_telaLista{
    display: flex;
    color: white;
    background-color:#23252b ;
    border-color: aliceblue;
    border-radius: 15px;
    width: 2%;
    margin-left: 1%;
}
#telaCadastro{
    display: none;
    position: absolute;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    color: white;
    width: 50%;
    height: 550px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #141519;
    border-radius: 20px;
}
#telaAlterar{
    display: none;
    position: absolute;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    color: white;
    width: 50%;
    height: 550px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #141519;
    border-radius: 20px;
}
.cadastrar{
    display: flex;
    flex-direction:column;
    margin-left: 15%;
    flex-wrap:wrap;
    width: 55%;
}
.altera {
    display: flex;
    flex-direction:column;
    margin-left: 15%;
    flex-wrap:wrap;
    width: 55%;
}
.input-cad{
    color: white;
    display: flex;
    background-color:#23252b ;
    border-color: aliceblue;
    width: 70%;
    margin: 5px;
    border-radius: 15px;
}
#bt-cadastro{
    color: white;
    background-color:#23252b ;
    border-color: aliceblue;
    border-radius: 15px;
    margin-right: 5%;
}
#btfechar_telaCadastro{
    display: flex;
    color: white;
    background-color:#23252b ;
    border-color: aliceblue;
    border-radius: 15px;
    margin-left: 5%;
}
#btlayout_telaCadastro{
    display: flex;
    align-items: center;
    flex-direction:row;
}
#bt-telaAltera{
    color: white;
    background-color:#23252b ;
    border-color: aliceblue;
    border-radius: 15px;
    margin-right: 5%;
}
#btfechar_telaAltera{
    display: flex;
    color: white;
    background-color:#23252b ;
    border-color: aliceblue;
    border-radius: 15px;
    margin-left: 5%;
}
#btlayout_telaAlt{
    display: flex;
    align-items: center;
    flex-direction:row;
}

/* Cabeçalho */

.cabeçalho-base {
    display: flex;
    align-items: center;
    flex-wrap:wrap;
    justify-content: center;
    background-color: #23252b;
    height: 60px;
    width: 100%;
  }
.cabeçalho-logo {
    display: flex;
    align-items: center;
    justify-content: end;
    background-color: #23252b;
    height: 60px;
    width: 15%;
  }
.icone-crunch{
    display: flex;
    align-items: center;
    justify-content: end;
    fill: #f47521;
    background-color: #23252b;
    height: 100%;
    width: 45%;
    margin-right: 10%;
    transition: all 0.3s;
}
.icone-crunch:hover{
    fill: white;
}
.cabeçalho-right {
    height: 60px;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;

    width: 20%;
  }
.opçoes-right{
    padding: 5%;
    display: flex;
    color: rgb(226, 223, 223);
    transition: all;
    align-items: center;
    justify-content: left;
    width: 25px;
    height: 60px;
    background-color: #23252b;
}
.opçoes-right:hover{
    background-color: #141519;
}

#Mais_opcoes{
    color: #fab818;
    font-size: 40px;
}
.Icones-right{
    fill:rgb(226, 223, 223);
    display: flex;
    width: 25px;
    object-fit: contain;
}

.cabeçalho-left {
    display: flex;
    justify-content: left;
    flex-direction: row;
    background-color: #23252b;
    height: 100%;
    width: 55%;
  }

.opçoes-left{
    padding: 1%;
    display: flex;
    color: rgb(226, 223, 223);
    align-items: center;
    justify-content: center;
    transition: all 0.1s;
}
.opçoes-left:hover {
    background-color: #141519;
    color: white;
}


/* Centro */



#cadastrar{
    display: flex;
    width: 30%;
    height: 50%;
    margin-top: 50%;
}

.centro-img {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    background-color: orange;
    height: 600px;
    width: 100%;
}


.Propaganda {
    display: flex;
    height: 100%;
    width: 80%;
    transition: all 0.5s;
    border-radius: 15px;
}

.centro-propaganda {
    display: flex;
    padding-left: 7%;
    padding-right: 7%;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 55%;
    transition: all 0.5s;
}
.centro-options{
    margin-top: 1%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #040404;
    transition: all 0.5s;
    height: 10%;
    width: 55%;
}

.centro-titulo{
    display: flex;
    align-items: center;
    margin: 5px;
    padding: 2px;
    justify-content: space-around;
    color: white;
    background-color: #23252b;
    transition: all 0.2s;
    height: 50px;
    width: 50%;
}
.centro-titulo:hover{
    background-color:  #6d7079f0;
}
#Campo_descriçãoAnimes {
    width: 100%;
    justify-content: center;
}
#descriçãoAnime{
    color: white;
}
#tituloAnime{
    color: white;
}
#dataAnime{
    color: white;
}
#IdAnime{
    display:none;
}
.bt_alterarDeletar{
    display:none;
    width: 100%;
}
#Deletar{
    display:flex;
    color: white;
    background-color:#23252b ;
    border-color: aliceblue;
    border-radius: 15px;
    margin-right: 3%;
}
#Alterar{
    display:flex;
    color: white;
    background-color:#23252b ;
    border-color: aliceblue;
    border-radius: 15px;
    margin-right: 3%;
}
.Seta-baixo{
    height: 45px;
    width: 20%;
    fill: rgb(226, 223, 223);
    transition: all;
}
.Seta-baixo:hover{
    fill: White;
}
/* Parte Inferior*/
.Bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #040404;
    height: 55px;
    width: 100%;
}
.bottom-msg {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color:#23252b;
    height: 50px;
    width: 55%;
}
.icone-exclamação{
    height: 50px;
    width: 2%;
    padding: 5px;
    fill:white;
}